header {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    color: Black;
    padding: 15px;
    margin: 10px 10px 0px 10px;
    font-size: 1.5rem;
    font-weight: 600;
}

/* =====================================================================
 * main page
 * ---------------------------------------------------------------------
 */
#maintableContainer {
    display: table;
    /* margin: 0px auto 10px auto; */
    border-spacing: 10px;
    width: 100%;
}

#maintableRow {
    display: table-row;
    border: 1px solid black;
}

#datapage {
    border: 1px solid black;
    display: table-cell;
    color: #675c47;
    font-size: 80%;
    padding: 15px;
    margin: 0px 10px 10px 10px;
    vertical-align: top;
    width: 80%;
}

#sidebar {
    border: 1px solid black;
    color: Black;
    display: table-cell;
    font-size: 90%;
    height: 90vh;
    padding: 5px;
    overflow: scroll;
    vertical-align: top;
}

#projects {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    cursor: pointer;
}
