/* =====================================================================
 * main page
 * ---------------------------------------------------------------------
 */
#mainpage {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: SkyBlue;
    text-align: left;
}

#maintableContainer {
    display: table;
    margin: 0px auto 10px auto;
    border-spacing: 10px;
    width: 98%;
}

#maintableRow {
    display: table-row;
    border: 1px solid black;
}

#datapage {
    border: 1px solid black;
    display: table-cell;
    color: #675c47;
    font-size: 80%;
    padding: 15px;
    margin: 0px 10px 10px 10px;
    vertical-align: top;
    width: 80%;
}

#sidebar {
    border: 1px solid black;
    color: Black;
    display: table-cell;
    font-size: 80%;
    height: 90vh;
    padding: 5px;
    overflow: scroll;
    vertical-align: top;
}

/*
*#sidebar {
*    border: 1px solid black;
*    display: table-cell;
*    background-color: Seashell;
*    color: Black;
*    font-size: 80%;
*    padding: 15px;
*    margin: 0px auto 0px auto;
*    overflow: scroll;
*    height: 800px;
*    vertical-align: text-top;
*    width: 20%;
*}
*/

#projects {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    cursor: pointer;
}
