/* =====================================================================
 * main page
 * ---------------------------------------------------------------------
 */

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

header {
    border: 1px solid black;
    color: Black;
    padding: 15px;
    margin: 10px 10px 0px 10px;
    font-size: 1.5rem;
    font-weight: 600;
}

#mainpage {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: SteelBlue;
    text-align: left;
}

#maintableContainer {
    display: table;
    /* margin: 0px auto 10px auto; */
    border-spacing: 10px;
    width: 100%;
}

#container {
    margin: 0px auto 10px auto;
    /* border-spacing: 10px; */
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

#datapage {
    border: 1px solid black;
    color: #675c47;
    display: block;
    font-size: 80%;
    /* margin: 0px 10px 10px 10px; */
    overflow: scroll;
    padding: 15px;
}

#title {
    background-color: #f4f4f4;
    border: 1px solid black;
    color: Black;
    font-size: 20px;
    margin: 0px 0px 30px 0px;
    text-align: center;
}
