body {
    font-family: avenir next, avenir, sans-serif;
}

footer {
    background-color: SteelBlue;
    color: Black;
    text-align: center;
    padding: 15px;
    margin: 10px 10px 0px 10px;
    font-size: 90%;
    clear: left;
}

h2 {
    font-size: 120%;
    color: Black;
}

/* =====================================================================
 * Main page
 * ---------------------------------------------------------------------
 */

#mainpage {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: SteelBlue;
    text-align: left;
}

#maintableContainer { 
    display: table;
    /* margin: 0px auto 10px auto; */
    border-spacing: 10px;
    width: 100%;
}

/* =====================================================================
 * Navigation bar
 * ---------------------------------------------------------------------
 */

nav {
    border-top: 0px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    color: Black;
    margin: 0px 10px 0px 10px;
    font-size: 1rem;
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    z-index: 2;
}

nav div ul {
    margin: 0px;
    list-style-type: none;
}

nav div ul li {
    display: inline;
    padding: 7px;
    font-weight: 500;
}

nav div ul li.selected {
    background-color: #d6cfbf;
    border-top: 1.5px solid black;
    border-right: 1.5px solid black;
    border-left: 1.5px solid black;
}

/* =====================================================================
 * table
 * ---------------------------------------------------------------------
 */

table {
    background-color: #f0f0f0;
    overflow: scroll;
    margin: 10px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.balanced tr:nth-child(even) {
    background-color: #f4f4f4;
}

.balanced tr:nth-child(odd) {
    background-color: #eaeaec;
}

th, td {
    /*border: 1px solid black;*/
    padding: 5px 15px 5px 15px;
    display: inline-block table-cell;
}

a {
    text-decoration: none;
}

td a {
    cursor: pointer;
    color: #0000B0;
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}


td.breakable {
    word-wrap: break-word;
    word-break: break-all;
}

td.rightalign {
    text-align: right;
}

/* =====================================================================
 * Collapsible Element
 * ---------------------------------------------------------------------
 */
.collapsible {
    background-color: #f4f4f4;
    color: Black;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: 1px;
    text-align: left;
    outline: 1px;
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
}

.collapsed {
    display: none;
}

.active, .collapsible:hover {
    background-color: #f4f4f4;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #fff6e1;
    margin: 5px;
}

/* =====================================================================
 * code table
 * ---------------------------------------------------------------------
 */
.methodtable {
    background-color: #f4f4f4;
    margin: 15px;
    border: 1px solid black;
    border-collapse: collapse;
}

/* =====================================================================
 * svg
 * ---------------------------------------------------------------------
 */
svg {
    background-color: #f4f4f4;
    display: block;
    overflow: scroll;
}

/* =====================================================================
 * Class Styles
 * ---------------------------------------------------------------------
 */

.dataview {
    grid-template-columns: 18% 2% 80%;
}

.fullview {
    grid-template-columns: 0% 2% 98%;
}

.caret {
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
}

.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    transform: rotate(90deg);
}

.nested {
    display: none;
}

.active {
    display: block;
}

.xselected span {
    background-color: #d6cfbf;
}

.near-white {
    background-color: #f4f4f4;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.justify-left {
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}

.justify-right {
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}

.pl-10 {
    padding-left: 10px;
}

.pr-10 {
    padding-right: 10px;
}
