* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    color: Black;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 10px 10px 0px 10px;
    padding: 15px;
}

/* =====================================================================
 * main page
 * ---------------------------------------------------------------------
 */

#container {
    display: grid;
    grid-template-rows: auto minmax(60vh, auto);
    margin: 5px 10px 10px 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#title {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

#datapage {
    border: 1px solid black;
    color: #675c47;
    font-size: 80%;
    grid-column: 3 / 4;
    grid-row: 2 / 3 ;
    padding-bottom: 8rem;
}

#sidebar {
    background-color: #f4f4f4;
    border: 1px solid black;
    color: Black;
    font-size: 80%;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    min-height: 100%;
    overflow: scroll; 
    padding: 5px;
}

#options-collapse {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

#projects {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    cursor: pointer;
}

#options {
    margin: 0px;
    padding: 0;
}

#title {
    background-color: #f4f4f4;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    color: Black;
    font-size: 20px;
    margin: 0px 0px 0px 0px;
    text-align: center;
}

/* =====================================================================
 * Class Styles
 * ---------------------------------------------------------------------
 */

.dataview {
    grid-template-columns: 18% 2% 80%;
}

.graphview {
    overflow: hidden;
}

.fullview {
    grid-template-columns: 0% 2% 98%;
}

.gfullview {
    overflow: hidden;
}
