{% extends "base.html" %}

{% block title %}
  {{ super() }}
{% endblock %}

{% block imports %}
<link rel="stylesheet" href="{{url_for('static',filename='codehawk_java.css') }}">
<script src="{{url_for('static',filename='codehawk_java.js')}}", type="module"></script>
{% endblock %}

{% block navbar %}
  <nav class='near-white'>
    <div class='flex justify-left'>
      <ul class='flex pl-10'>
        <li id="navpr" class='selected link'>Classes</li>
        <li id="navlo" class='link'>Loops</li>
        <li id="navbr" class='link'>Branches</li>
        <li id="navco" class='link'>Costs</li>
        <li id="navst" class='link'>Strings</li>
        <li id="navex" class='link'>Exceptions</li>
        <li id="navrec" class='link'>Recursive Methods</li>
        <li id="navref" class='link'>Reflective Calls</li>
        <li id="navsfinit" class='link'>Initializers</li>
        <li id="navta" class='link'>Taints</li>
      </ul>
    </div>
  </nav>
{% endblock %}

{% block container %}
  <div id="container" class="dataview">
  {{ super() }}
  </div>
{% endblock %}

{% block sidebar %}
  <div id="sidebar" class='near-white'>
    <h2>Projects</h2>
      <ul id="projects">
      </ul>
  </div>
  <button id="options-collapse"></button>
{% endblock %}

{% block data %}
  <div id="datapage" class='near-white'>
    <div id="prdata">
      <table id="datatable">
      </table>
    </div>
  </div>
{% endblock %}
