<!DOCTYPE HTML PUBLIC>
<html>
<head>
<meta charset="utf-8">
<title>Algocomplexity</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link rel="stylesheet" href="{{url_for('static',filename='algocomplexity.css') }}">
<link rel="stylesheet" href="{{url_for('static',filename='globals.css') }}">
<script src="{{url_for('static',filename='algocomplexity.js')}}", type="module"></script>
</head>

<body class='near-white'>
  <div id="mainpage">
    <header class='near-white'>
    CodeHawk Java Analyzer
    </header>
    <nav class='near-white'>
      <div>
        <ul>
          <li><a href="/"><i class='fas fa-home'></i></a></li>
          <li id="navpr" class="selected">Classes</li>
          <li id="navlo">Loops</li>
          <li id="navbr">Branches</li>
          <li id="navco">Costs</li>
          <li id="navst">Strings</li>
          <li id="navex">Exceptions</li>
          <li id="navrec">Recursive Methods</li>
          <li id="navref">Reflective Calls</li>
          <li id="navsfinit">Initializers</li>
          <li id="navta">Taints</li>
        </ul>
      </div>
    </nav>
    <div id="maintableContainer">
      <div id="maintableRow">
        <div id="sidebar" class='near-white'>
          <h2>Projects</h2>
          <ul id="projects">
          </ul>
        </div>
        <div id="datapage" class='near-white'>
          <div id="prdata">
            <table id="datatable">
            </table>
          </div>
        </div>
      </div>
    </div>
    <footer class='near-white'>
    &copy; 2019, Kestrel Technology, LLC, Palo Alto, CA 94304
    </footer>
  </div>
<hr>
<address></address>
<!-- hhmts start -->Last modified: Fri Mar  6 18:00:17 PST 2020 <!-- hhmts end -->
</body> </html>
