{% extends "base.html" %}

{% block title %}
  <title>{{ title }}</title>
{% endblock %}

{% block imports %}
  <link rel="stylesheet" href="{{url_for('static',filename='method.css') }}">
  <script src="{{url_for('static',filename='method.js')}}" type="module"></script>
{% endblock %}

{% block navbar %}
  <nav class='near-white'>
    <div class='flex justify-between'>
      <ul class='flex pl-10'>
        <li id='Bytecode' class='link selected'><a href="/method/{{eng}}/{{proj}}/{{index}}">Bytecode</a></li>
        <li id='CFG' class='link'>CFG</li>
        <li id='CFG+COST' class='link'>CFG+COST</li>
        <li id='CG' class='link'>CG</li>
       <li id='REVCG' class='link'>REVCG</li>
      </ul>
      <div class='flex pr-10'>
        <label for="gsearch">Search:</gsearch>
        <input id="gsearch" type="text" name="gsearch">
        <input id="gbsearch" type="button" value="Submit">
      </div>
    </div>
  </nav>
{% endblock %}

{% block container %}
  <!-- Container's class is sometimes reset, be careful when adding classes here -->
  <div id="container" class="simpleview">
  {{ super() }}
  </div>
{% endblock %}

{% block sidebar %}
  <div id="sidebar">
    <ul id="options">
      <li>
        <input id="loopsbox" type="checkbox" name="loops">
        <label for="loops">Loops</label>
      </li>
      <li>
        <input id="scostsbox" type="checkbox" name="scosts">
        <label for="scosts">Simple Costs</label>
      </li>
    </ul>
  </div>
  <button id="options-collapse"></button>
{% endblock %}

{% block data %}
  <h3 id="title">{{ name }}</h3>
  <div id="datapage" class='near-white'>
    <button id="zoomin">+</button>
    <button id="zoomout">-</button>
    <div id="data">
      {{ body }}
    </div>
  </div>
{% endblock %}
